.mm_text {
	background-color: #1f91d0;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.mm_imageBlock {
	display: block;
	float: right;
	height: 100%;
}

.mm_imageBlock img {
	margin-top: 80px;
}

.mm_textBlock {
	background-color: #fff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-right: 275px;
}