.mm_customCategory #category_desktop_category_1 {
     background-image: url(../../production/project/products/Level_6/assets/images/p020a.png);
     background-position: 50% 75%;
}
.mm_customCategory #category_desktop_category_2 {
     background-image: url(../../production/project/products/Level_6/assets/images/p020b.png);
     background-position: 50% 75%;
}
