
/* .activity {

    background-image: url(../../production/project/products/Level_1/assets/images/p031Room.jpg);

    background-position: center;



    background-size: 40%;

    background-repeat: no-repeat;

}

 */
 
 .mm_image {
     padding: 0;
     margin-top: -1.75em;
     margin-bottom: -2em;
 }
/* .matchItem,
.matchTarget {
    padding: 12px 15px;
} */