.mm_exContent #category_desktop_category_1 {
     background-image: url(../../production/project/products/Level_6/assets/images/p044a.jpg);
     background-position: 50% 75%;
}

.mm_exContent #category_desktop_category_2 {
     background-image: url(../../production/project/products/Level_6/assets/images/p044b.jpg);
     background-position: 50% 75%;
}