/* td.word1.ws-selected {
    background-color: #BB4726;
    }
td.word2.ws-selected {
    background-color: #1B844C;
    }
td.word3.ws-selected {
    background-color: #BB8E26;
    }
td.word4.ws-selected {
    background-color: #5E6DAA;
    }
td.word5.ws-selected {
    background-color: #D66949;
    }
td.word6.ws-selected {
    background-color: #a3b1ae;
    }
td.word7.ws-selected {
    background-color: #303880;
    } */