.mm_backgr {
    margin-top: -.875em;
    background: rgb(234,234,234); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(234,234,234,1) 0%, rgba(255,255,255,1) 50%, rgba(224,223,224,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(234,234,234,1)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(224,223,224,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(234,234,234,1) 0%,rgba(255,255,255,1) 50%,rgba(224,223,224,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(234,234,234,1) 0%,rgba(255,255,255,1) 50%,rgba(224,223,224,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(234,234,234,1) 0%,rgba(255,255,255,1) 50%,rgba(224,223,224,1) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(234,234,234,1) 0%,rgba(255,255,255,1) 50%,rgba(224,223,224,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#e0dfe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}