.mm_customText {
    color: #1dad8a;
}
.mm_customImage img {
    position: absolute;
    border: 2px solid #fff;
    border-radius: 60%;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 300px;
    left: 640px;
}

.mm_customTypein {
    background: rgb(231,231,232);
    background: -moz-linear-gradient(left,  rgba(231,231,232,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 50%, rgba(235,235,237,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(231,231,232,1)), color-stop(50%,rgba(255,255,255,1)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(235,235,237,1)));
    background: -webkit-linear-gradient(left,  rgba(231,231,232,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 50%,rgba(235,235,237,1) 100%);
    background: -o-linear-gradient(left,  rgba(231,231,232,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 50%,rgba(235,235,237,1) 100%);
    background: -ms-linear-gradient(left,  rgba(231,231,232,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 50%,rgba(235,235,237,1) 100%);
    background: linear-gradient(to right,  rgba(231,231,232,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 50%,rgba(235,235,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e8', endColorstr='#ebebed',GradientType=1 );
width: 700px;
}
.mm_customTypein img {
    position: relative;
}
.mm_customTypein ol {
    position: absolute;
    top: 100px;
    left: 80px;
}