.mm_matchingNoImages {
    margin-top: 70px;
}

.mm_snakePicture1 {
    position: absolute;
    top: -70px;
    left: 150px;
   
}

.mm_snakePicture2 {
    position: absolute;
    top: 295px;
    left: 150px; 
}