.activity {
    background-image: url(../../production/project/products/Level_1/assets/images/p048a.jpg);
    background-position: right bottom;
    background-size: 50%;
    background-repeat: no-repeat;
}