/* WORDSNAKE */

/* Activity specific wordsnake code */

.wordSnakeContainer .wordSnake li.letter {
    border: none;
    padding: 4px 4px 4px 3px;
    float: left;
    line-height:0.65em;
    font-size: 1.15em;
}
/* 	border-radius: 5px; */
	/*min-width: 10px;*/



.mm_wordSnake {
/* -webkit-transform: rotate(2deg);
    Firefox
    -moz-transform: rotate(2deg);
    IE
    -ms-transform: rotate(2deg);
    	Opera
    	-o-transform: rotate(2deg); */
}
.mm_wordSnake ul {
    padding-left: 0;
}

.mm_wigglyContainer {
       position: relative; display: block; /* width:780px;  */
     /*   height: 240px; */
       background-image: url(../../production/project/products/Level_1/assets/images/p074a.jpg);
    background-size: 100%;
    padding: 100px 70px;
}

}



