.activity {
    background-image: url(../../production/project/products/Level_1/assets/images/p056a.jpg);
    background-position: right bottom;
    background-size: 60%;
    background-repeat: no-repeat;
}