#category_desktop_category_1 h3 {
    font-size: 2.8em;
	padding: 0.24em 0em;
}

#category_desktop_category_2 h3 {
	padding: 1em 0.1em 0;
}

.activity {
    background-image: url(../../production/project/products/Level_1/assets/images/ABBackground_arc1.png);
}