.crosswordClueContainer li {
	color: #000;
}
.crosswordClueContainer .across, .crosswordClueContainer .down {
	margin-bottom: 1em;
	padding: 1em 0.75em;
	width: 90%;
}
.crosswordClueContainer {
	float: left;
	width: 40%;
}
.rcfCrossword {
    width: 58%;
}