/* .mm_matchItemNumber,
.mm_matchTargetNumber {
    top: .2em;
    left: .5em;
} */

/* .example .mm_matchItemNumber,
.example .mm_matchTargetNumber,
.selected .mm_matchItemNumber,
.selected .mm_matchTargetNumber {
    color: #fff;
} */