.activity {
    background-image: url(../../production/project/products/Level_1/assets/images/p017d.jpg);
    background-position: bottom;

    background-size: 60%;
    background-repeat: no-repeat;


}